# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Base de datos
database/*.db
database/*.db-journal

# Archivos procesados
processed/
input/*.txt
output/*.xlsx

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

